* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Lato", sans-serif;
}

body {
    background-color: #0a5069;
    color: #eee;
}

#main-window {
    height: 100vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
}

#main-heading {
    font-size: 3.2rem;
    text-align: center;
}

#cal-window {
    display: flex;
    gap: 6.4rem;
    justify-content: center;
    padding: 3.2rem 4rem;
    border: 3px solid #951f60;
    border-radius: 5px;
}

label {
    display: inline-block;
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
}

input {
    display: block;
    width: 24rem;
    font-size: 1.6rem;
    padding: 1rem;
    border: 1px solid #444;
    border-radius: 5px;
    margin-bottom: 2.4rem;
}

#submit:link,
#submit:visited {
    display: inline-block;
    padding: 1rem 1.8rem;
    font-size: 1.4rem;
    border: none;
    background-color: #f36e32;
    color: #fff;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
}

#submit:hover {
    background-color: #f45005; 
}
#submit:active {
    transform: translateY(2px); 
}

#show-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#second-heading {
    font-size: 2rem;
}

#normalized-date {
    margin-top: 2rem;
    font-size: 4.8rem;
    color: #ffbb5b;
    border: 2px solid #eee;
    padding: .5rem 1rem;
    border-radius: 5px;
}

#normalized-date span {
    opacity: 0;
}

#reset:link,
#reset:visited {
    text-decoration: none;
    padding: .8rem 1.2rem;
    font-size: 1.4rem;
    border-radius: 5px;
    background-color: #37b24d;
    color: #eee;
    margin-left: 50rem;
}

.error {
    color: #ffbb5b;
    display: inline;
    margin-left: .5rem;
    opacity: 0;
    /* transition: all .1s ease; */
}